html{	
  height: 100%;
}

body{
  height: 100%;	
  background-image: url(../images/question-mark.jpg);
  text-align: center;
}

#wrapper{
  margin: 2.5% auto;
  background-color: #e6ffb3;
  width: 960px;
  height: 80%;
  box-sizing: border-box;
}

h1{
  font-family: 'Bungee', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding-top: 4%;
}

#startarea{
  position: relative;
}

#start{
  margin-top: 20%;
  border: 2px solid black;
  background: #e6ffb3;
}

#start:hover {
  border: 2px solid blue;
  background: #99ccff;
  cursor: pointer;
}

button{
  display: block;
  /*border: 2px solid #e6ffb3;*/
  background-color: #e6ffb3;
  width: 33%;
  height: 20%;
  margin: 0 auto;
  /*cursor: pointer;*/
  font-size: 30px;
}

button:hover {
  border: 2px solid blue;
  background: #ff8c1a;
  cursor: pointer;
}

img{
  height:200px;
}

h2{
  /*font-family: 'Bungee', sans-serif;*/
  font-size: 30px;
  margin-bottom: 50px;
}

h3{
  /*font-family: 'Bungee', sans-serif;*/
  font-size: 25px;
  margin-bottom: 30px;
}
